body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;}

.container{
  /* margin-left: 10px;
  margin-right: 10px; */
}

.navbar{
  border-bottom: 2px solid black;
  position: fixed;
  width: 100%;
  background-color: whitesmoke;
}

.navbar-logo{
  margin-left: 5px;
  justify-content: baseline;
  align-items: baseline;
  font-size:x-large;
}

.navbar-page1{
  color: black;
  text-decoration: none;
  margin-left: 5px;
}

.navbar-page1:hover{
  color: blue; 
}

.navbar-page2{
  color: black;
  text-decoration: none;
  margin-left: 5px;
}

.navbar-page2:hover{
  color: blue;
}

.navbar-page3{
  color: black;
  text-decoration: none;
  margin-left: 5px;
}

.navbar-page3:hover{
  color: blue;
}

.navbar-page4{
  color: black;
  text-decoration: none;
  margin-left: 5px;
  
}

.navbar-page4:hover{
  color: blue;
}

.navbar-page5{
   color: black;
  text-decoration: none;
  margin-left: 5px; 
}

.navbar-page5:hover{
  color: blue;
}

.navbar-pages{
   display: flex;
  justify-content: space-around;
  margin-left: 10px;
  gap: 10px;
  font-size: larger;
}


.navbar-btn{
  border: 0;
  z-index: 1;
  border-radius: 4px;
  position: relative;
  display: inline-block;
  padding: 15px 35px 14px;
  color: var(--whiteColor);
  transition: var(--transition);
  background: linear-gradient(91.43deg, #4A00E0 1.22%, #8E2DE2 98.84%);
  font-size: var(--fontSize);
  font-weight: 600;
  margin-bottom: 20px;
  /* display: flex;
  justify-content: end;
  font-size: larger;
  background-color: #8e2de226; */
  /* box-shadow: 0 10px 15px #8e2de226; */
  /* background: linear-gradient(90deg, #FF0080 0%, #FF8C00 100%) */
  
}

.navbar-btn:hover{
  transition: color .15s ease-in-out; background-color: .15s ease-in-out; border-color: .15s ease-in-out;
  background: linear-gradient(90deg, #FF0080 0%, #FF8C00 100%)
}

.lisbo-menu-logo{
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lisbo-menu-title1{
  margin: 7px;
  font-size: x-large;

}

.lisbo-menu-title2{
  font-size: x-large;
}

.lisbo-menu-title-btn{
  margin: 5px;
  font-size: larger;
  background: linear-gradient(90deg, #FF0080 0%, #FF8C00 100%)
}

.lisbo-menu-title-btn:hover{
  background: linear-gradient(91.43deg, #4A00E0 1.22%, #8E2DE2 98.84%);
}